/* product-card css start */
.product-card {
    height: 100%;
    position: relative;
}

.card-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 4px 10px 8px;
    background-color: var(--brand-color);
    color: var(--white);
    font-size: 12px;
    line-height: 1;
    font-family: var(--paragraph-font);
    font-weight: 700;
    z-index: 10;
    border-radius: 3px;
    text-transform: uppercase;
}

.product-card .card-image-wrap {
    margin: 0;
    min-width: 0px;
    border: 0px;
    box-sizing: border-box;
    display: flex;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    background-color: var(--card-bg);
}

.product-card .card-image-wrap:before {
    padding-bottom: 112%;
    content: "";
    width: 0;
    height: 0;
}

.product-card .card-image-wrap .card-img {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

.product-card .card-img .main-img {
    transition: ease .5s;
}

.product-card .card-img .main-img img {
    object-fit: cover;
}

.card_hover:hover .card-img .main-img {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
}

.product-card .card-img .hover-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    opacity: 0;
    visibility: hidden;
    transition: ease .5s;
}

.card_hover:hover .card-img .hover-img {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.product-card .card_hover_img {
    object-fit: cover;
}

.product-card .card-content {
    margin: 18px 0 0 0;
    text-align: center;
}

.product-card .card-content .card-title {
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    transition: ease .2s;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 1px;
}

.product-card .card-content .card-title:hover {
    text-decoration: underline;
}

.product-card .card-content .card-text {
    margin: 4px 0 0 0;
}

.card-btn {
    margin: 18px 0 0 0;
    display: flex;
}

.card-btn .btn {
    width: 100%;
    font-weight: 400;
    border-radius: 0;
    padding: 13px 10px;
    background: var(--body-color);
}

/* product-card css end */

@media only screen and (max-width: 1200px) {

    /* product-card css start */
    .product-card .card-content .card-title {
        font-size: 28px;
    }

    /* product-card css end */
}

@media only screen and (max-width: 575px) {

    /* product-card css start */
    .product-card .card-content .card-title {
        font-size: 20px;
    }

    .card-btn {
        margin: 10px 0 0 0;
    }

    .card-btn .btn {
        width: 100%;
        font-weight: 400;
        border-radius: 0;
        padding: 10px 10px;
        font-size: 12px;
    }

    /* product-card css end */
}