/* common-banner section css start */
.common-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 72px 0 0 0;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
}

.about-page-banner {
    background-image: url('../images/about-page-banner.jpg');
}

.contact-page-banner {
    background-image: url('../images/contact-banner.jpg');
}

.common-banner-content {
    padding: 50px 0;
    min-height: 464px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.common-banner-content .section-heading-wrapper {
    margin: 0;
    text-align: center;
    max-width: 100%;
}

.common-banner-content .section-heading {
    color: var(--white);
    letter-spacing: 5px;
}

/* common-banner section css end */
@media only screen and (max-width: 992px) {

    /* common-banner css start */
    .common-banner {
        margin: 60px 0 0 0;
    }

    /* common-banner css end */
}

@media only screen and (max-width: 767px) {

    /* common-banner css start */
    .common-banner-content {
        min-height: 300px;
    }

    /* common-banner css end */
}

@media only screen and (max-width: 575px) {

    /* common-banner css start */
    .common-banner-content {
        min-height: 200px;
    }

    .common-banner-content {
        padding: 30px 0;
    }

    /* common-banner css end */
}