.contact-section .container {
    max-width: 926px;
    margin: 0 auto;
}

.contact-section .section-heading-wrapper {
    text-align: left;
    margin: 0 0 22px;
}

.contact-section .section-heading {
    font-size: 52px;
    line-height: 52px;
}

.contact-section .section-heading-text {
    padding: 5px 0 0 0;
}

.contact-form {
    width: 100%;
}

.contact-field-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.contact-field-col {
    width: 100%;
    margin: 0 0 20px 0;
}

.contact-field-col input,
.contact-field-col textarea {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    border: 1px solid var(--border-color8);
}

.contact-field-col textarea {
    padding: 15px 10px;
    height: 100%;
    resize: none;
}

.contact-field-col input:focus,
.contact-field-col textarea:focus {
    border-color: var(--brand-color);
}

.contact-field-col:hover input,
.contact-field-col:hover textarea {
    border-color: var(--brand-color);
}

.contact-btn {
    display: flex;
}

@media only screen and (max-width: 767px) {

    /* contact section css start */
    .contact-field-row {
        grid-template-columns: repeat(1, 1fr);
    }

    /* contact section css end */
}

@media only screen and (max-width: 575px) {

    /* contact section css start */
    .contact-section .section-heading {
        font-size: 30px;
        line-height: 30px;
    }

    .contact-field-row {
        column-gap: 10px;
    }

    .contact-field-col {
        margin: 0 0 10px 0;
    }

    .contact-field-col input {
        height: 42px;
    }

    /* contact section css end */
}