/* gallery-slider-section css start */
.gallery-slider-item .product-card {
    padding: 10px;
    background: var(--card-bg);
}

.gallery-slider-item .product-card .card-image-wrap:before {
    padding-bottom: 122%;
}

.gallery-slider-item .product-card .card-img .main-img img {
    transition: all ease .3s;
}

.gallery-slider-item .product-card:hover .card-img .main-img img {
    transform: scale(1.1);
}

.gallery-slider-item .product-card .card-content {
    padding: 16px 0 6px 0;
    text-align: center;
    margin: 0;
}

.gallery-slider-item .product-card .card-content .card-title {
    color: var(--paragraph-text-color);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    font-family: var(--paragraph-font);
}

/* gallery-slider-section css end */

@media only screen and (max-width: 575px) {

    /* gallery-slider-section css start */
    .gallery-slider-item .product-card .card-content {
        padding: 10px 0 0 0;
        text-align: center;
        margin: 0;
    }

    .gallery-slider-item .product-card .card-content .card-title {
        font-size: 14px;
        line-height: 20px;
    }

    /* gallery-slider-section css end */
}