/* hero-section css start */
.hero-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content-inner {
    text-align: center;
    max-width: 538px;
    padding: 20px;
}

.hero-sub-heading {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin: 0 0 32px 0;
}

.hero-heading {
    font-weight: 400;
    font-size: 86px;
    line-height: 72px;
    text-transform: uppercase;
}

.hero-text {
    margin: 10px 0 0 0;
}

.hero-content-inner .btn {
    margin: 24px 0 0 0;
}

/* hero-section css end */

@media only screen and (max-width: 767px) {

    /* hero-section css start */
    .hero-wrapper {
        grid-template-columns: repeat(1, 1fr);
        position: relative;
    }

    .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 30%);
    }

    .hero-sub-heading,
    .hero-heading,
    .hero-text {
        color: var(--white);
    }

    /* hero-section css end */
}

@media only screen and (max-width: 575px) {

    /* hero-section css start */
    .hero-sub-heading {
        margin: 0 0 20px 0;
    }

    .hero-heading {
        font-size: 36px;
        line-height: 36px;
    }

    .hero-text {
        margin: 8px 0 0 0;
    }

    .hero-content-inner .btn {
        margin: 18px 0 0 0;
    }

    /* hero-section css end */
}