/* instagram-section css start */
.instagram-section .container {
    max-width: 100%;
}

.instagram-heading {
    width: 612px;
    height: 270px;
    position: relative;
    top: 172px;
    margin: -172px 0 0 0;
}

.instagram-heading img {
    object-fit: contain;
}

.instagram-slider-area {
    position: relative;
}

.swiper.instagram-slider .swiper-slide {
    height: 586px;
    width: 100%;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
}

.swiper.instagram-slider .swiper-slide.swiper-slide-active {
    width: 448px !important;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
}

.swiper.instagram-slider .swiper-slide.swiper-slide-active .instagram-item {
    height: 100%;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    margin-top: 0;
}

.instagram-item {
    display: block;
    position: relative;
    width: 100%;
    height: 315px;
    margin-top: 60%;
}

.instagram-item .overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all ease .7s;
    -webkit-transition: all ease .7s;
    -moz-transition: all ease .7s;
    -ms-transition: all ease .7s;
    -o-transition: all ease .7s;
}

.instagram-item:hover .overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.instagram-item .overlay .icon {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.instagram-item:hover .overlay .icon {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all ease .7s;
    -webkit-transition: all ease .7s;
    -moz-transition: all ease .7s;
    -ms-transition: all ease .7s;
    -o-transition: all ease .7s;
}

.instagram-item:hover .overlay .icon svg {
    width: 30px;
    height: 30px;
}

.instagram-slider-btn-wrap {
    position: absolute;
    right: 0;
    top: 18%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.instagram-slider-btn-wrap .swiper-button-next,
.instagram-slider-btn-wrap .swiper-pagination {
    position: unset;
    opacity: 1;
    visibility: visible;
}


.instagram-slider-btn-wrap .swiper-button-prev {
    position: unset;
    opacity: 0;
    visibility: hidden;
}

.instagram-slider-btn-wrap .swiper-button-next,
.instagram-slider-btn-wrap .swiper-button-prev {
    width: auto;
    height: auto;
    border: none;
    background: transparent;
    margin: 0;
}

.instagram-slider-btn-wrap .swiper-button-prev::after,
.instagram-slider-btn-wrap .swiper-button-next::after {
    font-size: 16px;
    color: var(--black);
    font-weight: 700;
}

.instagram-slider-btn-wrap .swiper-button-prev:hover,
.instagram-slider-btn-wrap .swiper-button-next:hover {
    color: var(--black);
    background-color: unset;
}

.instagram-slider-btn-wrap .swiper-button-prev:hover::after,
.instagram-slider-btn-wrap .swiper-button-next:hover::after {
    font-size: 16px;
    color: var(--black);
    font-weight: 700;
}

/* instagram-section css end */

@media only screen and (max-width: 1200px) {

    /* instagram-section css start */
    .instagram-heading {
        width: 370px;
        height: 230px;
    }

    .instagram-slider-btn-wrap {
        top: 12%;
    }

    /* instagram-section css end */
}

@media only screen and (max-width: 992px) {

    /* instagram-section css start */
    .instagram-heading {
        top: 0;
        margin: 0 auto;
    }

    .swiper.instagram-slider .swiper-slide.swiper-slide-active {
        width: auto !important;
    }

    .swiper.instagram-slider .swiper-slide {
        height: 400px;
    }

    .swiper.instagram-slider .swiper-slide.swiper-slide-active .instagram-item {
        margin: 0;
    }

    .instagram-item {
        margin: 0;
        height: 100%;
    }

    .instagram-slider-btn-wrap {
        top: -35px;
    }

    /* instagram-section css end */
}

@media only screen and (max-width: 767px) {

    /* instagram-section css start */

    .swiper.instagram-slider .swiper-slide {
        height: 300px;
    }

    /* instagram-section css end */
}

@media only screen and (max-width: 767px) {

    /* instagram-section css start */
    .instagram-heading {
        width: 242px;
        height: 135px;
    }

    /* instagram-section css end */
}