/* product-details-section css start */
.product-details-section {
    background: var(--section-bg4);
}

.product-details-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    align-items: center;
}

.product-details-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-details-img-item {
    max-width: 348px;
}

.product-details-content {
    max-width: 625px;
}

.product-details-subtitle {
    color: var(--text-mark);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0 0 24px 0;
}

.product-details-title {
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.product-details-text {
    margin: 5px 0 0 0;
    color: var(--text-muted3);
}

.product-details-btn,
.product-varient,
.product-details-item {
    padding: 24px 0 0 0;
    margin: 24px 0 0 0;
    border-top: 1px solid var(--border-color5);
}

.product-details-item-title {
    margin: 0 0 8px 0;
    font-weight: 600;
    text-transform: capitalize;
}

.product-details-item-text {
    color: var(--text-muted3);
}

.product-details-content-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.product-details-content-item {
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid var(--border-color6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-details-content-item-title {
    font-weight: 700;
    line-height: 20px;
}

.product-details-content-item-text {
    line-height: 20px;
}

.product-varient-field-wrap {
    display: flex;
    gap: 45px;
    align-items: center;
}

.product-varient-input-field {
    position: relative;
    cursor: pointer;
}

.product-varient-input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    user-select: none;
}

.product-varient-label {
    cursor: pointer;
    display: block;
    user-select: none;
}

.product-varient-label .checkbox-with-label-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product-varient-label .check-box {
    width: 22px;
    min-width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border-color2);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all ease .2s;
}

.product-varient-label .check-box .check-box-color {
    width: 12px;
    min-width: 12px;
    height: 12px;
    background: var(--black);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: block;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all ease .2s;
}

.product-varient input:checked+label .check-box {
    border-color: var(--black);
}

.product-varient input:checked+label .check-box .check-box-color {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.label-content-title-text {
    color: var(--text-muted3);
}

.product-details-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-details-btn .product-quantity {
    border: 1px solid var(--brand-color);
    display: inline-flex;
    align-items: center;
    max-width: 125px;
    width: 100%;
    height: 48px;
}

.product-details-btn .btn {
    border-radius: 0;
    width: 100%;
    padding: 13px 10px;
}

.product-details-btn .product-quantity .quantity-decrease,
.product-details-btn .product-quantity .quantity-increase {
    margin: 0;
    cursor: pointer;
    color: var(--black);
    height: 100%;
    padding: 0 17.5px;
    transition: ease .3s;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.product-details-btn .product-quantity .quantity-decrease:hover,
.product-details-btn .product-quantity .quantity-increase:hover {
    background: var(--brand-color);
    color: var(--white);
}

.product-details-btn .product-quantity .quantity-total {
    text-align: center;
    font-weight: 700;
    width: 100%;
    height: 100%;
    color: var(--black);
}

/* product-details-section css end */

@media only screen and (max-width:992px) {

    /* product-details-section css stat */
    .product-details-title {
        font-size: 48px;
        line-height: 48px;
    }

    .product-details-subtitle {
        margin: 0 0 20px 0;
    }

    .product-details-btn,
    .product-varient,
    .product-details-item {
        padding: 20px 0 0 0;
        margin: 20px 0 0 0;
    }

    .product-details-content-items {
        grid-template-columns: repeat(2, 1fr);
    }

    /* product-details-section css end */
}

@media only screen and (max-width: 767px) {

    /* product-details-section css stat */
    .product-details-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .product-details-content {
        max-width: 100%;
    }

    .product-details-content-items {
        grid-template-columns: repeat(4, 1fr);
    }

    /* product-details-section css end */
}

@media only screen and (max-width: 575px) {

    /* product-details-section css stat */
    .product-details-title {
        font-size: 30px;
        line-height: 30px;
    }

    .product-details-subtitle {
        margin: 0 0 16px 0;
    }

    .product-details-content-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-details-btn,
    .product-varient,
    .product-details-item {
        padding: 16px 0 0 0;
        margin: 16px 0 0 0;
    }


    /* product-details-section css end */
}