/* product-listing-section css start */
.product-listing-section2 {
    background: var(--brand-color);
}

.product-listing-section .container,
.product-listing-section2 .container {
    max-width: 1312px;
}

.product-listing-section2 .section-heading-wrapper {
    text-align: left;
    max-width: 745px;
    margin: 0 0 42px;
}

.product-listing-section2 .section-heading,
.product-listing-section2 .section-sub-heading {
    color: var(--section-bg3);
}

.product-listing-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.product-listing-section2 .product-listing-item .product-card .card-content .card-title,
.product-listing-section2 .product-listing-item .product-card .card-content .card-text {
    color: var(--section-bg3);
}

.product-listing-section2 .product-listing-item .product-card .card-content .primary-btn {
    border-color: var(--border-color7);
}

.product-listing-section2 .product-listing-item .product-card .card-content .btn {
    background: var(--brand-color);
}

/* product-listing-section css end */

@media only screen and (max-width: 992px) {

    /* product-listing-section css start */
    .product-listing-section2 .section-heading-wrapper {
        margin: 0 0 35px;
    }

    .product-listing-items {
        grid-template-columns: repeat(2, 1fr);
    }

    /* product-listing-section css end */
}

@media only screen and (max-width: 767px) {

    /* product-listing-section css start */
    .product-listing-section2 .section-heading-wrapper {
        margin: 0 0 25px;
    }

    /* product-listing-section css end */
}

@media only screen and (max-width: 575px) {

    /* product-listing-section css start */
    .product-listing-section2 .section-heading-wrapper {
        margin: 0 0 20px;
    }

    .product-listing-items {
        row-gap: 24px;
    }

    /* product-listing-section css end */
}