/* text-circle-section css start */
.text-circle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.text-circle-animation-area {
    position: relative;
}

.text-circle-animation-img {
    width: 246px;
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.text-circle-link {
    max-width: 135px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    font-family: var(--paragraph-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var(--paragraph-text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: all ease .3s;
}

.text-circle-link:hover {
    color: var(--text-mark);
}

.text-circle-link svg path {
    transition: all ease .3s;
}

.text-circle-link:hover svg path {
    stroke: var(--text-mark);
}


.text-circle-content-area {
    max-width: 654px;
    text-align: right;
}

.text-circle-content-title {
    color: var(--brand-color);
    font-weight: 400;
    font-size: 86px;
    line-height: 100%;
    text-transform: uppercase;
}

/* text-circle-section css end */

@media only screen and (max-width: 767px) {

    /* text-circle-section css start */
    .text-circle-wrapper {
        flex-direction: column-reverse;
    }

    .text-circle-content-area {
        max-width: 100%;
        text-align: center;
    }

    .text-circle-content-title {
        font-size: 48px;
    }

    .text-circle-animation-img {
        width: 200px;
    }

    /* text-circle-section css end */
}

@media only screen and (max-width: 575px) {

    /* text-circle-section css start */
    .text-circle-content-title {
        font-size: 30px;
    }

    .text-circle-animation-img {
        width: 150px;
    }

    .text-circle-link {
        max-width: 135px;
        font-size: 13px;
        line-height: 16px;
        gap: 7px;
    }

    .text-circle-link svg {
        width: 14px;
    }

    /* text-circle-section css end */
}