/* text-slider-section css start */
.text-slider-section {
    background: var(--brand-color);
    padding: 5px 0 10px;
}

.marquee-content-item-text p {
    font-family: var(--stylish-font1);
    color: var(--item-bg);
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-transform: lowercase;
}

.marquee-content-item-text p strong {
    color: var(--item-bg3);
    font-size: 20px;
    font-weight: 700;
}

/* text-slider-section css end */

@media only screen and (max-width: 575px) {

    /* text-slider-section css start */
    .marquee-content-item-text p {
        font-size: 16px;
        line-height: 20px;
    }

    .marquee-content-item-text p strong {
        font-size: 18px;
    }

    /* text-slider-section css end */
}